.auth-button {
  margin-top: 1.5rem;
}

.bg-image {
  z-index: 0;
}

.main-card {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  position: absolute;
  text-align: right;
  top: 0;
  z-index: 1;
}
