<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="newAccount()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>{{ labels.account.myAccountsLabel | uppercase }}</ion-list-header>
    <ng-container *ngIf="accounts.length > 0; else elseTemplate">
      <ion-card *ngFor="let account of accounts">
        <ion-card-header>
          <ion-card-title>{{ account.type }}</ion-card-title>
          <ion-card-subtitle>{{ account.name }}</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
          <ion-label>{{ labels.account.deposits }}</ion-label>
          <ion-badge color="success" slot="end">{{ account.deposits }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>{{ labels.account.withdrawals }}</ion-label>
          <ion-badge color="medium" slot="end">{{ account.withdrawals }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>{{ labels.account.balance }}</ion-label>
          <ion-badge slot="end">{{ account.balance }}</ion-badge>
        </ion-item>
      </ion-card>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-item>
        <ion-label>
          <h2>{{ messages.account.noActiveAccount }}</h2>
          <p (click)="newAccount()">{{ labels.account.requestNewAccountLabel }}</p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>