<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="newAccount()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>{{ labels.account.myAccountsLabel | uppercase }}</ion-list-header>
    <ng-container *ngIf="accounts?.length > 0; else elseTemplate">
      <ion-item *ngFor="let account of accounts">
        <ion-label>
          <h2>{{ account.type }}</h2>
          <p>{{ account.name }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-item>
        <ion-label>
          <h2>{{ messages.account.noActiveAccount }}</h2>
          <p (click)="newAccount()">{{ labels.account.requestNewAccountLabel }}</p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>